/* Navbar Styling */

.navbar-collapse {
    display: flex;
    align-items: flex-end;
}

/* Body Styling */
body {
    background-color: #E2E2E2;
    font-family: "Fairplay Display", sans-serif;
}
.card {
    border: solid 2px #041e42;
}









/* Footer Styling */