/* Navbar Styling */

.navbar-collapse {
    display: flex;
    align-items: flex-end;
}

/* Body Styling */
body {
    background-color: #E2E2E2;
    font-family: "Fairplay Display", sans-serif;
}

.w3-button {
    background-color: #041e42;
}

h2 {
    align-items: center;
}








/* Footer Styling */